<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.devexpress.MtgXafMedidores" version="1.0.0">
  <name>MtgXafMedidores</name>
  <description></description>
  <author email="" href="" />
  <content src="index.html" />
  <preference name="permissions" value="none" />
  <preference name="phonegap-version" value="cli-7.1.0" />
  <preference name="orientation" value="default" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="true" />
  <preference name="prerendered-icon" value="true" />
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="disable-cursor" value="false" />
  <preference name="windows-appx-target" value="uap" />
  <preference name="windows-arch" value="anycpu" />
  <preference name="android-minSdkVersion" value="14" />
  <preference name="android-installLocation" value="auto" />
  <preference name="SplashScreen" value="splash" />
  <preference name="disable-push-notifications" value="1" />
  <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
  <gap:plugin name="cordova-plugin-statusbar" source="npm" />
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <gap:plugin name="cordova-plugin-geolocation" source="npm" />
  <gap:plugin name="cordova-plugin-camera" source="npm" />
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
  <platform name="android">
    <icon density="ldpi" width="36" height="36" src="icons/36.png" />
    <icon density="mdpi" width="48" height="48" src="icons/48.png" />
    <icon density="hdpi" width="72" height="72" src="icons/72.png" />
    <icon density="xhdpi" width="96" height="96" src="icons/96.png" />
    <icon density="xxhdpi" width="144" height="144" src="icons/144.png" />
    <icon density="xxxhdpi" width="192" height="192" src="icons/192.png" />
    <splash density="port-ldpi" width="200" height="320" src="splashscreens/200-320.png" />
    <splash density="port-mdpi" width="320" height="480" src="splashscreens/320-480.png" />
    <splash density="port-hdpi" width="480" height="800" src="splashscreens/480-800.png" />
    <splash density="port-xhdpi" width="720" height="1280" src="splashscreens/720-1280.png" />
    <splash density="port-xhdpi" width="1536" height="2048" src="splashscreens/1536-2048.png" />
    <splash density="port-xxhdpi" width="960" height="1600" src="splashscreens/960-1600.png" />
    <splash density="port-xxxhdpi" width="1280" height="1920" src="splashscreens/1280-1920.png" />
    <splash density="land-ldpi" width="320" height="200" src="splashscreens/320-200.png" />
    <splash density="land-mdpi" width="480" height="320" src="splashscreens/480-320.png" />
    <splash density="land-hdpi" width="800" height="480" src="splashscreens/800-480.png" />
    <splash density="land-xhdpi" width="1280" height="720" src="splashscreens/1280-720.png" />
    <splash density="land-xhdpi" width="2048" height="1536" src="splashscreens/2048-1536.png" />
    <splash density="land-xxhdpi" width="1600" height="960" src="splashscreens/1600-960.png" />
    <splash density="land-xxxhdpi" width="1920" height="1280" src="splashscreens/1920-1280.png" />
  </platform>
  <platform name="ios">
    <icon width="29" height="29" src="icons/29.png" />
    <icon width="40" height="40" src="icons/40.png" />
    <icon width="50" height="50" src="icons/50.png" />
    <icon width="57" height="57" src="icons/57.png" />
    <icon width="58" height="58" src="icons/58.png" />
    <icon width="60" height="60" src="icons/60.png" />
    <icon width="72" height="72" src="icons/72.png" />
    <icon width="76" height="76" src="icons/76.png" />
    <icon width="80" height="80" src="icons/80.png" />
    <icon width="87" height="87" src="icons/87.png" />
    <icon width="100" height="100" src="icons/100.png" />
    <icon width="114" height="114" src="icons/114.png" />
    <icon width="120" height="120" src="icons/120.png" />
    <icon width="144" height="144" src="icons/144.png" />
    <icon width="152" height="152" src="icons/152.png" />
    <icon width="180" height="180" src="icons/180.png" />
    <splash width="320" height="480" src="splashscreens/320-480.png" />
    <splash width="640" height="960" src="splashscreens/640-960.png" />
    <splash width="640" height="1136" src="splashscreens/640-1136.png" />
    <splash width="750" height="1334" src="splashscreens/750-1334.png" />
    <splash width="768" height="1024" src="splashscreens/768-1024.png" />
    <splash width="1242" height="2208" src="splashscreens/768-1024.png" />
    <splash width="1536" height="2048" src="splashscreens/1536-2048.png" />
    <splash width="1242" height="2208" src="splashscreens/1242-2208.png" />
    <splash width="1024" height="768" src="splashscreens/1024-768.png" />
    <splash width="1136" height="640" src="splashscreens/1136-640.png" />
    <splash width="1334" height="750" src="splashscreens/1334-750.png" />
    <splash width="2048" height="1536" src="splashscreens/2048-1536.png" />
    <splash width="2208" height="1242" src="splashscreens/2208-1242.png" />
  </platform>
  <icon gap:platform="android" gap:qualifier="ldpi" width="36" height="36" src="icons/36.png" />
  <icon gap:platform="android" gap:qualifier="mdpi" width="48" height="48" src="icons/48.png" />
  <icon gap:platform="android" gap:qualifier="hdpi" width="72" height="72" src="icons/72.png" />
  <icon gap:platform="android" gap:qualifier="xhdpi" width="96" height="96" src="icons/96.png" />
  <icon gap:platform="android" gap:qualifier="xxhdpi" width="144" height="144" src="icons/144.png" />
  <icon gap:platform="android" gap:qualifier="xxxhdpi" width="192" height="192" src="icons/192.png" />
  <icon gap:platform="ios" width="29" height="29" src="icons/29.png" />
  <icon gap:platform="ios" width="40" height="40" src="icons/40.png" />
  <icon gap:platform="ios" width="50" height="50" src="icons/50.png" />
  <icon gap:platform="ios" width="57" height="57" src="icons/57.png" />
  <icon gap:platform="ios" width="58" height="58" src="icons/58.png" />
  <icon gap:platform="ios" width="60" height="60" src="icons/60.png" />
  <icon gap:platform="ios" width="72" height="72" src="icons/72.png" />
  <icon gap:platform="ios" width="76" height="76" src="icons/76.png" />
  <icon gap:platform="ios" width="80" height="80" src="icons/80.png" />
  <icon gap:platform="ios" width="87" height="87" src="icons/87.png" />
  <icon gap:platform="ios" width="100" height="100" src="icons/100.png" />
  <icon gap:platform="ios" width="114" height="114" src="icons/114.png" />
  <icon gap:platform="ios" width="120" height="120" src="icons/120.png" />
  <icon gap:platform="ios" width="144" height="144" src="icons/144.png" />
  <icon gap:platform="ios" width="152" height="152" src="icons/152.png" />
  <icon gap:platform="ios" width="180" height="180" src="icons/180.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-ldpi" width="200" height="320" src="splashscreens/200-320.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-mdpi" width="320" height="480" src="splashscreens/320-480.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-hdpi" width="480" height="800" src="splashscreens/480-800.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" width="720" height="1280" src="splashscreens/720-1280.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" width="1536" height="2048" src="splashscreens/1536-2048.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-xxhdpi" width="960" height="1600" src="splashscreens/960-1600.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-xxxhdpi" width="1280" height="1920" src="splashscreens/1280-1920.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-ldpi" width="320" height="200" src="splashscreens/320-200.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-mdpi" width="480" height="320" src="splashscreens/480-320.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-hdpi" width="800" height="480" src="splashscreens/800-480.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" width="1280" height="720" src="splashscreens/1280-720.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" width="2048" height="1536" src="splashscreens/2048-1536.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-xxhdpi" width="1600" height="960" src="splashscreens/1600-960.png" />
  <gap:splash gap:platform="android" gap:qualifier="land-xxxhdpi" width="1920" height="1280" src="splashscreens/1920-1280.png" />
  <gap:splash gap:platform="ios" width="320" height="480" src="splashscreens/320-480.png" />
  <gap:splash gap:platform="ios" width="640" height="960" src="splashscreens/640-960.png" />
  <gap:splash gap:platform="ios" width="640" height="1136" src="splashscreens/640-1136.png" />
  <gap:splash gap:platform="ios" width="750" height="1334" src="splashscreens/750-1334.png" />
  <gap:splash gap:platform="ios" width="768" height="1024" src="splashscreens/768-1024.png" />
  <gap:splash gap:platform="ios" width="1242" height="2208" src="splashscreens/768-1024.png" />
  <gap:splash gap:platform="ios" width="1536" height="2048" src="splashscreens/1536-2048.png" />
  <gap:splash gap:platform="ios" width="1242" height="2208" src="splashscreens/1242-2208.png" />
  <gap:splash gap:platform="ios" width="1024" height="768" src="splashscreens/1024-768.png" />
  <gap:splash gap:platform="ios" width="1136" height="640" src="splashscreens/1136-640.png" />
  <gap:splash gap:platform="ios" width="1334" height="750" src="splashscreens/1334-750.png" />
  <gap:splash gap:platform="ios" width="2048" height="1536" src="splashscreens/2048-1536.png" />
  <gap:splash gap:platform="ios" width="2208" height="1242" src="splashscreens/2208-1242.png" />
  <gap:splash gap:platform="winphone" width="480" height="800" src="splashscreens/480-800.jpg" />
  <access origin="*" />
  <access origin="https://*.google.com/*" />
  <access origin="https://*.googleapis.com/*" />
  <allow-navigation href="https://*.google.com/*" />
  <allow-navigation href="https://*.googleapis.com/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="winphone" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="0" xcconfigEnforce="true" />
  </platform>
  <config-file platform="ios" parent="CFBundleDisplayName" overwrite="true">
    <string>MtgXafMedidores</string>
  </config-file>
  <engine name="android" spec="^5.1.1" />
  <gap:plugin name="cordova-android-support-gradle-release" source="npm" />
  <gap:plugin name="cordova-plugin-file-opener2" source="npm" />
  <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
  <plugin name="cordova-background-geolocation-lt" source="npm" spec="2.7.3">
    <variable name="LOCATION_ALWAYS_USAGE_DESCRIPTION" value="Background location-tracking is required" />
    <variable name="LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION" value="Background location-tracking is required" />
    <variable name="MOTION_USAGE_DESCRIPTION" value="Using the accelerometer increases battery-efficiency by intelligently toggling location-tracking only when the device is detected to be moving" />
    <variable name="LICENSE" value="AIzaSyDvsEvwDZoNaP9ZOVzvRHN03mVTo0I6gio" />
  </plugin>
  <plugin name="cordova-plugin-device" source="npm" spec="1.1.6"></plugin>
</widget>